<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.LogoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAudiovisualToList</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.AddAudiovisualToList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAudiovisualFromList</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.user.RemoveAudiovisualFromList</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RegisterProgram</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.RegisterProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllPrograms</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.SelectAllPrograms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProgram</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.SearchProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectProgram</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.SelectProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRatingProgram</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.AddRatingProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveRatingProgram</servlet-name>
        <servlet-class>com.imd.telemaco.presentation.RemoveRatingProgram</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAudiovisualToList</servlet-name>
        <url-pattern>/AddAudiovisualToList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAudiovisualFromList</servlet-name>
        <url-pattern>/RemoveAudiovisualFromList</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RegisterProgram</servlet-name>
        <url-pattern>/RegisterProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAllPrograms</servlet-name>
        <url-pattern>/SelectAllPrograms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProgram</servlet-name>
        <url-pattern>/SearchProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectProgram</servlet-name>
        <url-pattern>/SelectProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRatingProgram</servlet-name>
        <url-pattern>/AddRatingProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveRatingProgram</servlet-name>
        <url-pattern>/RemoveRatingProgram</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>3000</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Overview.jsp</welcome-file>
    </welcome-file-list>
</web-app>
